
body {
  color: white;
  font-size: 20px; 
  font-family: helvetica;
  background-color: darkgreen;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 12px; 

}

.table-prepare-end {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(200,200,200,0.2);  
}

.table-prepare-end div {
  display: flex;
  justify-content: center;
  align-items: center
}

.table-prepare-end button {
  
  display: flex;
  justify-content: center;
  align-items: center
}

.table-prepare-end p {
  text-align: center;
  margin: 50px 0;
  padding: 50px 0;
  font-size: 2em; 
  font-weight: bolder;
  background-color: rgba(0,24,0,0.75);
  border-style: solid;
  border-width: 5px;
}

.table-prepare-end .scores {
  text-align: center;
  margin: 25px 0;
  padding: 25px 0;
  font-size: 0.75em; 
  font-weight: bolder;
  background-color: rgba(0,24,0,0.75);
  border-style: solid;
  border-width: 5px;
}

.table-ingame .hand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player h4 {
  text-align: center;
}

.player .lose {
  text-decoration: line-through;
  color: grey;
}

button {
  width: 140px;
  height: 50px;
  border-color: darkgreen;
  border-radius: 10px;
  background: green;
  color: white;
  font-size: 15px;
}

button :hover {
  background: lightgreen;
  color: darkgrey;
}

.deck {
  height: 150px;
  width: auto;
}


.hand img {
  height: 150px;
  width: auto;
}

.hand .buttons {
  display: flex;
  justify-content: center;
  align-items: center
}

.moveUp {
  animation: goUp 0.5s;
}

@keyframes goUp {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  12% { transform: translate(0px, -12px) rotate(0deg); }
  25% { transform: translate(0px, -25px) rotate(0deg); }
  37% { transform: translate(0px, -37px) rotate(0deg); }
  50% { transform: translate(0px, -50px) rotate(0deg); }
  62% { transform: translate(0px, -62px) rotate(0deg); }
  75% { transform: translate(0px, -75px) rotate(0deg); }
  88% { transform: translate(0px, -88px) rotate(0deg); }
  100% { transform: translate(0px, -100px) rotate(0deg); }
}

.other-games {
  
}